#!/usr/bin/env bash
# {{ ansible_managed }}


java \
{% if outbound_proxy_host is defined %}
  -Dhttp.proxyHost={{ outbound_proxy_host }} -Dhttp.proxyPort={{ outbound_proxy_port }} \
  -Dhttps.proxyHost={{ outbound_proxy_host }} -Dhttps.proxyPort={{ outbound_proxy_port }} \
{% endif %}
  -Dcom.sun.management.jmxremote \
  -Dcom.sun.management.jmxremote.port=9010 \
  -Dcom.sun.management.jmxremote.rmi.port=9010 \
  -Dcom.sun.management.jmxremote.local.only=false \
  -Dcom.sun.management.jmxremote.authenticate=false \
  -Dcom.sun.management.jmxremote.ssl=false \
  -jar {{ prometheus_exporters_common_root_dir }}/jmx_prometheus_current \
  {{ prometheus_jmx_exporter_port }} \
  {{ prometheus_exporters_common_dist_dir }}/jmx_exporter/config.yml
