[Unit]
Description=Prometheus CloudWatch Exporter
After=network.target

[Service]
{% if lookup('env', 'AWS_ACCESS_KEY_ID') != '' and lookup('env', 'AWS_SECRET_ACCESS_KEY') != '' %}
Environment="AWS_ACCESS_KEY_ID={{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
Environment="AWS_SECRET_ACCESS_KEY={{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
Environment="AWS_DEFAULT_REGION=eu-west-1"
{% endif %}

{% if outbound_proxy.config.http_proxy is defined -%}
Environment="HTTP_PROXY={{ outbound_proxy.config.http_proxy }}"
Environment="http_proxy={{ outbound_proxy.config.http_proxy }}"
{% endif %}
{% if outbound_proxy.config.https_proxy is defined -%}
Environment="HTTPS_PROXY={{ outbound_proxy.config.https_proxy }}"
Environment="https_proxy={{ outbound_proxy.config.https_proxy }}"
{% endif %}

Type=simple
User={{ prometheus_exporters_common_user }}
Group={{ prometheus_exporters_common_group }}

ExecStart={{ prometheus_exporters_common_root_dir }}/dist/cloudwatch_exporter/stats

SyslogIdentifier=prometheus_cloudwatch_exporter
Restart=always

[Install]
WantedBy=multi-user.target
